LOCAL_IMAGE_HOST=127.0.0.1
LOCAL_IMAGE_PORT=18081
LOCAL_IMAGE_ENGINE=openvino
OPENVINO_DEVICE=CPU
LOCAL_MODEL_ID=rupeshs/sd-turbo-openvino
LOCAL_MODEL_DIR=./models/sd-turbo-openvino
LOCAL_IMAGE_SIZE=512x512
LOCAL_IMAGE_STEPS=2
LOCAL_IMAGE_GUIDANCE_SCALE=0.0
LOCAL_IMAGE_MAX_IMAGES=1
LOCAL_IMAGE_ALLOW_DOWNLOAD=true
